@import url('var.css');
@import url('header.menu.css');
@import url('hero.header.css');


:root {
    scroll-behavior: smooth;
}

.origin_link {
    margin-top: 5px;
    text-align: center;
}

.origin_link a {
    text-align: center;
    color: var(--origin-link-a);
}

body {
    background-color: var(--body-background-color);
}

hr {
    background-color: var(--hr-color);
    width: 10%;
    height: 4px;
}
    