@import url('var.css');
@import url('header.menu.css');
@import url('hero.header.css');
@import url('services.css');


:root {
    scroll-behavior: smooth;
}

.origin_link {
    margin-top: 5px;
    text-align: center;
}

.origin_link a {
    text-align: center;
    color: var(--origin-link-a);
}

body {
    background-color: var(--body-background-color);

    .header__menu-wrapper, hero__header-content, services-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}

a {
    cursor: pointer;
}