body {
    --body-background-color: #f9f4f0;
}

.origin_link a {
    --origin-link-a: blue;
}

.header__menu a {
    --header-menu-text-a: #5a3733;
}
.header__menu-item:hover {
    --header-menu-item-hover-border-bottom: #ffd832;
}

.header__menu-item:hover {
    --header-menu-item-hover-text-color: #eb6d2f;
}

.header__menu-button-buy-honey {
    --header-menu-button-buy-botton: #eb6d2f;
}

.header__menu-button-buy-honey:hover {
    --header-menu-button-buy-honey-hover: #eb6d2f;
}

.header__menu-button-buy-honey:hover {
    --header-menu-button-text-hover: white;
}

.hero__header-title {
    --hero-header-title-text-color: #eb6d2f;
}

.hero__header__store-name {
    --hero-header-store-name-text-color: #5a3733;
}

hr {
    --hr-color: #eb6d2f;
}

.hero__header__main-offer {
    --hero-header-main-offer-text-color: rgb(65,57,57);
}

.hero__header__button-buy-now {
    --hero-header-button-buy-now-background-color: #eb6d2f;
}

.services__heading {
    --services-heading-title-text-color: #5a3733;
}

.services__slogan {
    --services-slogan-text-color: rgb(65,57,57);
}

.services__gallery-item {
    --services-gallery-item-background-color: #ffffff;
    --services-gallery-item-box-shadow: rgba(136, 140, 133, 0.05);
}

.services__gallery-item-title {
    --service-gallery-item-title-text-color: #5a3733;
}

.services__gallery-item-description {
    --service-gallery-item-description-text-color: rgb(65,57,57);
}

.services__gallery-item-learn-more {
    --service-gallery-item-learn-more-text-color: #ffd832;
}