.btn--link {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition: var(--trs);
}

.btn--link:hover, .btn--link:active, .btn--link:focus {
    text-decoration: none;
    color: var(--color-main);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap16) 2em;
    text-align: center;
    font-weight: 500;
    background-color: var(--color-main);
    color: var(--color-black);
    transition: var(--trs);
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--color-white);
    color: var(--color-black);
}