.soc {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.soc a svg {
    color: var(--color-light);
    transition: var(--trs);
}

.soc a:hover svg, .soc a:active svg, .soc a:focus svg {
    color: var(--color-main);
}