[submodule "Softserve/UA-130 Advanced Python with Django/Sprint 06 Serialization/Task 5"]
	path = Softserve/UA-130 Advanced Python with Django/Sprint 06 Serialization/Task 5
	url = https://github.com/python-fundamentals-ml/serialization-koskin17.git
