<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honey Production</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DotGothic16&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Link to origin web-site -->
    <p class="origin_link">The original can be seen at the <a href="https://honey-production.weblium.site/" target="_blank">link</a></p>

    <div class="header">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/header.partial.html"></section>
    </div>
    <div class="hero__header">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/hero-header.partial.html"></section>
    </div>
    <div class="hero__services">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/services.partial.html"></section>
    </div>
    <div class="why_choose_us">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/choose.partial.html"></section>
    </div>
    <div class="types_of_horney">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/types_honey.partial.html"></section>
    </div>
    <div class="store">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/store.partial.html"></section>
    </div>
    <div class="order">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/order.partial.html"></section>
    </div>
    <div class="testimonials">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/testimonials.partial.html"></section>
    </div>
    <div class="blog">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/blog.partial.html"></section>
    </div>
    <div class="faq">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/faq.partial.html"></section>
    </div>
    <div class="contacts">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/contacts.partial.html"></section>
    </div>
    <div class="advertising_gallery">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/adv.gallery.partial.html"></section>
    </div>
</body>
</html>