/* В global.css, который глобальный для всего сайта, мы первым делом импортируем шрифт и ниже в root указываем шрифт */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* После импорта шрифта мы делаем глобальный reset стилей, которые бразуер применяет по умолчанию */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Хороший способо видеть границы всех блоков и для debug кода CSS.
    Outline лучше, чем border потому что border имеет размер и влияет на размер контейнера, а outline - это линия, которая как бы рисуется сверху и на размер не влияет.*/
    /* outline: 1px solid red; */
} 

:root {
    --color-primary: black;
    --color-secondary: #a5c7cf;
    
/* Важно определться с кол-вом переменных для цвета. Лучше иметь их больше, под каждый блок или под каждую роль, даже если цвет у них одинаковый. Смысл в том, что в будущем дизайн может как-то поменяться и потребуется менять какой-то конкретный цвет, не затрагивая цвета других элементов, котореы тоже использует один и тот же цвет.
Т.е. лучше сделать сразу основные цвета: primaty и secondary для основных элементов страницы: text, border, background */
    --primary-text-color: var(--color-primary) ;
    --secondary-text-color: var(--color-secondary);
    --border-color: var(--color-primary);
    --secondary-background-color: var(--color-secondary);
    scroll-behavior: smooth;
    font-family: "DotGothic16", serif;
}

/* Также обязательно сразу вложить тэг img в "коробочку". т.е. в display: block,
чтобы обеспечить правильное отображение картинок.
И сразу установить ширину этого блока в 100% */
img {
    display: block;
    width: 100%;
}

.container {
    /* Этот класс сделан, чтобы не ограничивать header, а ограничить только контент.
    Он добавлянется до тех элементов, которые нужно ограничить по ширине.
    В результате всё, что будет внутри блока с этим контейнеров в качестве класса, всё будет ограничено по ширине */
    max-width: 1200px;
    margin: auto;
}
