/* Основний стиль для контейнера */
.faq-accordion {
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--faq-accordion-boder);
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Стиль для кожного елемента аккордеону */
.faq-accordion__item {
    border-bottom: 1px solid var(--faq-accordion-item-border-bottom);
}

.faq-accordion__title {
    cursor: pointer;
    padding: 15px;
    font-size: 1.2em;
    background-color: var(--faq-accordion-title-background-color);
    transition: background-color 0.3s ease;
}

.faq-accordion__title:hover {
    background-color: var(--faq-accordion-title-hover-background-color);
}

/* Стиль для вмісту, коли аккордеон неактивний */
.faq-accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 15px;
    font-size: 1em;
}

/* Стиль для активного елемента */
.faq-accordion__item--active .faq-accordion__content {
    max-height: 150px;
    padding: 15px;
}