<!-- designer-card-social.html -->
<div class="designer-card__social">
    <a href="https://www.facebook.com/" class="designer-card__social-link facebook">
        <img src="../img/icon/facebook-designer-card-social.svg" alt="facebook icon for designer-card-social">
    </a>
    <a href="https://www.instagram.com/" class="designer-card__social-link instagram">
        <img src="../img/icon/instagram-designer-card-social.svg" alt="instagram icon for designer-card-social">
    </a>
    <a href="https://www.youtube.com/" class="designer-card__social-link youtube">
        <img src="../img/icon/youtube-designer-card-social.svg" alt="facebook icon for designer-card-social">
    </a>
</div>