<section class="hero">
    <div class="container">
        <div class="hero__container">
            <div class="hero__row">
                <div class="hero__col">
                    <div class="subtitle">
                        \ Welcome to \
                    </div>
                    <h1 class="h1">
                        Prizma Lighting Studio in NY
                    </h1>
                    <a href="#" class="btn" role="button">
                        Collections
                    </a>
                </div>
                <div class="hero__col">
                    <div class="subtitle"><small>$399</small></div>
                    <div class="h4">
                        "The Morning Glory" <br>
                        Ceiling Lamp
                    </div>
                    <svg class="icon" width="48" height="48">
                        <use xlink:href="#arr-r"></use>
                    </svg>
                </div>
            </div>
            <div class="hero__row">
                <div class="hero__col">
                    <p>
                        Enhance your home or office with effective and stylish <b>lightning</b> by Prizma Studio.
                    </p>
                    <p class="text--main"><b>Send a request now!</b></p>
                    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/socials.partial.html">
                    </nav>
                </div>
                <div class="hero__col">
                    <img src="./img/img1.png" alt="Lamp" height="100" class="hero__img">
                    <p>
                        We have more than <strong>10 years</strong> of experience of improving our clients’ projects
                        with lighting solutions.
                    </p>
                    <div>
                        <a href="#" class="btn--link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
