DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=

DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=example_admin

FRONTEND_URL=http://localhost:3000
DEFAULT_FROM_EMAIL=noreply@localhost

EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=code from gmail app

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB_NAME=chat_db