.features__container {
    padding-left: var(--gap30);
    padding-right: var(--gap30);
    padding-top: var(--gap90);
    padding-bottom: var(--gap90);
    background-color: var(--color-black);
    text-align: left;
}

.features__image {
    width: 100%;
}

.features__content{
    max-width: var(--sm);
}

.features__title {
    font-size: var(--gap10);
    color: var(--color-main);
    margin-top: var(--gap20);
    font-weight: 900;
}

.features__description--highlight {
    font-size: var(--gap51);
    margin-top: var(--gap25);
    font-size: 2.5em;
}

.features__description--short {
    font-size: var(--gap19);
    margin-top: var(--gap25);
}

.features__description--long {
    font-size: var(--gap16);
    margin-top: var(--gap25);
    color: var(--color-gray);
}

.features__list {
    margin-top: var(--gap20);
    list-style: none;
    width: 100%;
}

.features__item {
    margin-bottom: var(--gap16);
    display: flex;
    align-items: flex-start;
}


.features__description--list {
    font-size: var(--gap14);
    margin-left: var(--gap10);
}

.features__icon {
    height: var(--gap20);
    width: var(--gap24);
}

.features__description--final {
    color: var(--color-light);
    margin-top: var(--gap20);
}

.btn {
    margin-top: var(--gap35);
    color: var(--color-white);
}

@media (min-width: 769px) {
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .features__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 375px){
    .features__container {
        padding-left: var(--gap30);
        padding-right: var(--gap30);
        justify-content: center;
    }
}