/* В браузерах всегд есть встроенный стили, которые очень сильно мешают реализацуии
дизайна на странице. Для этого используют сброс стилей.
Есть множество разных reset-наборов.
Самый простой и стандартный:
- использовать селектор "*", который проходит по всем стилям и применяется к каждому отдельно;
- также добавляются псевдоєлементы:
    ::after;
    ::before
- ему устанавливаются margin и padding:
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

Также рекомендуется сразу использовать селектор root, которому сразу устанавливается
плавная прокрутка. Раньше для этого надо было использовать / применять javascript:
    : root {
        scroll-behavior: smooth;
    }

Селектор по классу дается через точку - .header_tite
Селектор по id делается через решётку - #header_slogan

По умолчанию картинки не блочные (block), а в строку (inline).
Из-за этого сразу рекоменуется тегу img установить блочное отображение и ширину на 100%:
    img {
        display: block;
        width: 100%;
    }

Также рекомендуется использовать переменные.
Особенно это удобно для цвета различных блоков.
В глобальном файле CSS (global.css) селектору :root {} прописывается семантичная переменная,
к примеру --title-color: #ff2f00;
Потом уже в файле стилей конкретного блока, в index.header-hero.css конкретному блоку
прописывается эта переменная:

.header_title {
    colo: var(--title-color);
}
И теперь, если надо поменять цвет, то его можно поменять в одном месте и новый цвет
подтянется ко всем блокам.
также в одной переменной можно ссылаться на другую переменную:
    --title-color: var(--другая переменная--)

Подключение шрифтов.
На сайте https://fonts.google.com/ есть практически все шрифты, которые могут понадобиться.
Находим шрифт, нажимаем "Get embed code", переходим на вкладку import
и копируем строку с импортов этого шрифта:
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
Потом импортируем его в нужном файле.
Для установки шрифта для всего сайта по умолчанию в селекторе root прописывается имя шрифта:
:root {
    font-family: "PT Sans", sans-serif;
}
*/