<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title|title }}</title>
    <!--Тут использован placholder. Также применён метод title, который переводит строку в строку с заглавной буквы, т.е. первый title - это placeholder, в второй title - это уже метод, который к первому title применяется-->
  </head>
  <body>
    <h1>{{ header }}</h1>
    <!--И тут использован placeholder -->
    <p>{{ username }}</p>
    <!--И тут использован placeholder -->
    <!--Но placeholder не годится для действий, связанных с итерацией по спискам и вывода значений этого списка-->
    <!--Для итераций используется шаблонный тег-->
    {% for product in products %}
      <h4>{{ product.name}}</h4>
      <!-- Здесь мы уже используем placeholder -->
      <p>{{ product.price }} долл.США</p>
      <!-- Шаблонный тег обязательно и всегда закрывается-->
    {% endfor %}

    {% if products_of_promotion %}
      <h3 style="color: red;">Товары по акции</h3>
      {% for product in products_of_promotion %}
        <h4>{{ product.name}}</h4>
        <!-- Здесь мы уже используем placeholder -->
        <p>{{ product.price }} долл.США</p>
        <!-- Шаблонный тег обязательно и всегда закрывается-->
      {% endfor %}
    {% endif %}

  </body>
</html>
