<div class="cart-item">
    <div class="cart-item__info">
        <p class="cart-item__name">{{name}}</p>
        <p class="cart-item__price">${{price}} USD</p>
    </div>
    <div class="cart-item__controls">
        <button class="cart-item__button" data-action="updateQuantity" data-product="{{name}}" data-quantity="{{quantity-1}}">-</button>
        <span class="cart-item__quantity">{{quantity}}</span>
        <button class="cart-item__button" data-action="updateQuantity" data-product="{{name}}" data-quantity="{{quantity+1}}">+</button>
        <button class="cart-item__button cart-item__button--remove" data-action="removeFromCart" data-product="{{name}}">
            <img src="./images/icons/trash.svg" alt="Remove" width="14" height="18">
        </button>
    </div>
    <p class="cart-item__total">${{total}} USD</p>
</div> 