<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/about-us.css" />
  <title>Lightning Design Studio | Projects</title>
  <link
    rel="shortcut icon"
    href="img/logo_lamp.png"
    type="image/x-icon"
  />

  <link rel="stylesheet" href="css/index.css">
  <!--TODO -->
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  ></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<html lang="en">
  <body>
    <div >
      <header
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/header.partial.html"
      ></header>
      <section>
        <h1>Projects</h1>
        <p>Home > projects</p>
      </section>
    </div>
    <main>
        <a href="projects.luminous-harmony.html" class="harmony">Luminous Harmony</a>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/global.projects.partial.html"></section>
    </main>
    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partials/footer.partial.html"></footer>
   
    <script src="./js/index.js"></script>
  </body>
</html>
