<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/luminous.css" />
    <title>Lightning Design Studio | Single Project</title>
    <link rel="shortcut icon" href="img/logo_lamp.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="luminous">
      <header
        class="header"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/header.partial.html"
      ></header>
      <div class="bcr">
        <p class="bcr__title">Luminous Harmony</p>
        <div class="bcr__path">
          <p class="bcr__item">Home > Projects ></p>
          <p class="bcr__current">Luminous Harmony</p>
        </div>
      </div>

      <main class="main-content">
        <div class="project container">
          <div class="project__images">
            <img
              src="img/projects-img-04.jpg"
              alt="lamp"
              class="project__image"
            />
            <img
              src="img/projects-img-03.jpg"
              alt="A bed with bedside tables on either side. There is a lamp on each of the bedside tables."
              class="project__image roundish"
            />
          </div>
          <div class="project__details">
            <div class="project__part">
              <p class="project__details-title">Name:</p>
              <p class="project__details-value">"Luminous Harmony"</p>
            </div>
            <div class="project__part">
              <p class="project__details-title">Location:</p>
              <p class="project__details-value">Chicago, Illinois</p>
            </div>
            <div class="project__part">
              <p class="project__details-title">Date:</p>
              <p class="project__details-value">April, 2024</p>
            </div>
          </div>
        </div>

        <svg height="31" style="width: 100%" class="line container">
          <path
            d="M0 15.5 L3000 15.5"
            style="
              fill: none;
              stroke: rgba(255, 255, 255, 0.16);
              stroke-width: 1px;
            "
          ></path>
        </svg>

        <div class="overview container">
          <div class="overview__header">
            <p class="overview__title top">Brief Overview:</p>
          </div>
          <div class="overview__content">
            <p class="overview__text bigger">
              Luminous Harmony is a showcase of innovative lighting design
              implemented at the prestigious Riverfront Hotel in Chicago. This
              project was designed to create an ambiance that complements the
              luxurious interior while enhancing the architectural features of
              the hotel.
            </p>
            <p class="overview__text">
              Our approach centered on blending traditional aesthetics with
              modern lighting technology. We used advanced LED solutions to
              highlight the hotel's grand architecture, ensuring that each area
              received its own thematic lighting that shifts with the mood and
              time of day. Ambient, task, and accent lighting techniques were
              employed to enhance both functionality and ambiance.
            </p>
            <p class="overview__text">
              The main lobby's lighting was designed to adapt from a bright,
              welcoming day-time setting to a more subdued, intimate evening
              atmosphere. Special weather-resistant fixtures were used for
              outdoor areas, emphasizing durability without compromising on
              style.
            </p>
          </div>
        </div>
        <svg  height="31" style="width: 100%" class="line container">
          <path
            d="M0 15.5 L3000 15.5"
            style="
              fill: none;
              stroke: rgba(255, 255, 255, 0.16);
              stroke-width: 1px;
            "
          ></path>
        </svg>

        <div class="features container">
          <div class="features__header">
            <p class="features__title top">Key Features:</p>
          </div>
          <div class="features__list">
            <ul class="features__items">
              <li class="features__item">
                Energy-efficient LED lighting throughout the hotel;
              </li>
              <li class="features__item">
                Custom-designed fixtures tailored to the hotel’s unique themes;
              </li>
              <li class="features__item">
                Smart lighting systems with automated controls for time and
                intensity;
              </li>
            </ul>
          </div>
        </div>

        <svg height="31" style="width: 100%" class="line container">
          <path
            d="M0 15.5 L3000 15.5"
            style="
              fill: none;
              stroke: rgba(255, 255, 255, 0.16);
              stroke-width: 1px;
            "
          ></path>
        </svg>

        <div class="technical-details container">
          <div class="technical-details__header top">
            <p class="technical-details__title">Technical Details:</p>
          </div>
          <div class="technical-details__block">
            <div class="technical-details__content">
              <p class="technical-details__subtitle">LED Panels:</p>
              <p class="technical-details__text">
                High-efficiency panels with adjustable color temperatures ranging
                from 2700K to 6500K;
              </p>
            </div>
            <div class="technical-details__content">
              <p class="technical-details__subtitle">
                Motion-Sensor LED Pathways:
              </p>
              <p class="technical-details__text">
                Automatically adjust lighting based on occupancy, reducing energy
                usage by up to 40%;
              </p>
            </div>
            <div class="technical-details__content">
              <p class="technical-details__subtitle">
                Weather-Proof Outdoor Fixtures:
              </p>
              <p class="technical-details__text">
                Specially designed to withstand extreme weather, ensuring
                durability and consistent performance;
              </p>
            </div>
          </div>
        </div>
        <svg  height="31" style="width: 100%" class="line container">
          <path
            d="M0 15.5 L3000 15.5"
            style="
              fill: none;
              stroke: rgba(255, 255, 255, 0.16);
              stroke-width: 1px;
            "
          ></path>
        </svg>
        <div class="testimonial container">
          <div class="testimonial__grid">
          <img
            src="img/emma-img.png"
            alt="A dark-haired young woman touches her head with her palm."
            class="testimonial__image"
          />
          <p class="testimonial__text">
            "The expertise and creativity of the Prizma Studio team have
            transformed our hotel into a beacon of luxury and comfort. Their
            attention to detail and innovative use of space and light have
            significantly enhanced both the guest experience and our brand's
            aesthetic appeal."
          </p>
        </div>
          <div class="testimonial__end">
            <p class="testimonial__author">— Emma Carter, CEO,</p>
            <p class="testimonial__company">Riverfront Hotel.</p>
          </div>
        </div>

        <div class="cta">
          <div class="cta__block">
            <div class="cta__header">
              <p class="cta__subtitle">/ cta /</p>
            </div>
            <div class="cta__main">
              <p class="cta__title">Inspired by What You’ve Seen?</p>
              <p class="cta__text">
              Contact us today to discuss how we can illuminate your space with
              creativity and efficiency.</p>
            </div>
            <div class="cta__button">
              <a href="/contacts.html" class="cta__button2">Contact us</a>
            </div>
          </div>
        </div>
      </main>

      <footer
        class="footer"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/footer.partial.html"
      ></footer>
    </div>
  </body>
</html>
