/* Если в коде есть периодически спользуемые элементы, то для них делается отдельный файл (в данном случае это кнопки) и в нём прописываются все элементы, которые будут использоваться.
При этом названия классов и элементов не по BEM, потому что эти элементы ни к чему не привязаны и могут использоваться где угодно.
Потом этот файл подключается в global.css и  */

.button {
    display: inline-block; /* Режим inline-block позволяет для inline элементов применять блоковые фукнции */
    background-color: var(--secondary-background-color);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
}
