<div class="blos__main-wrapper">
    <p class="blog__title">BLOG</p>
    <p class="blog__heading">LEARN MORE ABOUT HONEYBEE</p>
    <hr>
    <p class="blog__description">Think that honey production is boring? Not at all! Read our blog and the latest news from our swaths to learn more!</p>
    <div class="blog__gallery">
        <section class="blog__gallery-item">
            <img src="./img/blog-new-season-is-here.webp">
            <p class="blog__gallery-date">MARCH 10, 2024</p>
            <p class="blog__gallery-title">New Season is Here!</p>
            <p class="blog__gallery-description">After winter, work in our Californian swaths is in full swing again.</p>
        </section>
        <section class="blog__gallery-item">
            <img src="./img/blog-honey-in-jars.webp">
            <p class="blog__gallery-date">MARCH 17, 2023</p>
            <p class="blog__gallery-title">Honey in Jars</p>
            <p class="blog__gallery-description">Why is honey usually sold in glass jars? Our expert explains.</p>
        </section>
        <section class="blog__gallery-item">
            <img src="./img/blog-how-is-honey-harvested.webp">
            <p class="blog__gallery-date">APRIL 12, 2023</p>
            <p class="blog__gallery-title">How is Honey Harvested?</p>
            <p class="blog__gallery-description">Learn about how our beekeepers harvest honey from honeycomb frames.</p>
        </section>
    </div>
</div>