<div class="about__horney-wrapper">
    <div class="about__horney-picture">
        <img src="./img/why-choose-us-left-picture.webp">
    </div>
    <div class="about__horney-description">
        <p class="about__horney-title">WHY CHOOSE US</p>
        <p class="about__horney-heading">ABOUT BEEHONEY</p>
        <hr>
        <p class="about__honey-description">We are a family-owned business managing 5+ swaths in California. We bottle our honey with love and care.</p>
        <ul class="about__honey-list">
            <li>
                <img src="./img/about_horney_list_picture_1.svg">
                <p>Our swaths are located in ecologically clean areas in California. The bees feel really happy there!</p>
            </li>
            <li>
                <img src="./img/about_horney_list_picture_3.svg">
                <p>We produce 100% organic raw honey without pasteurization or filtration processes.</p>
            </li>
            <li>
                <img src="./img/about_horney_list_picture_3.svg">
                <p>We are really fast at shipping, so you can enjoy our honey in a couple of days after your order!</p>
            </li>
        </ul>
    </div>
    <div class="about__honey-video">
        <img src="./img/video-picture.jfif">
        <p class="about__honet-video-title">HOW HONEY IS MADE</p>
    </div>
</div>