<div class="contacts__main-wrapper">
    <div class="contacts__left-contacts">
        <p class="contacts__title">CONTACTS</p>
        <p class="contacts__heading">CONTACT US ANYTIME</p>
        <hr>
        <p class="contacts__description">Feel free to contact us for any inquiries or commercial offers:</p>
        <table>
            <tr>
                <td>Address</td><td>44670 Mattole Rd, Honeydew, CA 95545</td>
            </tr>
            <tr>
                <td>Hours</td><td>Monday - Saturday: 11 AM - 9 PM<br>Sunday: 11 AM - 7 PM</td>
            </tr>
            <tr>
                <td>Contacts</td><td>+1 (234) 567 89 00<br>honeybee@email.com</td>
            </tr>
        </table>
        <div class="contacts__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.449154867311!2d-124.12621242399759!3d40.24354827146802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54d458d72677b56f%3A0xe767b86240e24bf4!2zNDQ2NzAgTWF0dG9sZSBSZCwgSG9uZXlkZXcsIENBIDk1NTQ1LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1731417166398!5m2!1sru!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="contacts_form">
        <p>ВСТАВИТЬ ФОРМУ ИЗ КУРСА</p>
    </div>
</div>