<div class="faq__main-wrapper">
    <div class="faq__left-picture">
        <img src="./img/faq-left-picture.webp">
    </div>
    <div class="faq__right-text">
        <p class="faq__title">FAQ</p>
        <p class="faq__heading">HONEY QUESTIONS</p>
        <hr>
        <p class="faq__description">Below are the most popular questions from our clients.</p>
        <div class="faq__accordion">
            <section class="faq__accordion-item">
                <p class="faq__accordion-item-title">What is raw honey?</p>
                <p class="faq__accordion-item-description">Raw honey is honey as it is in the beehive. Raw honey is made by extracting honey from the honeycombs and separating it from impurities. It doesn't contain any hidden sugars and is not pasteurized or processed.</p>
            </section>
            <section class="faq__accordion-item">
                <p class="faq__accordion-item-title">Can your honey cause allergies?</p>
                <p class="faq__accordion-item-description">We sell pure organic honey but it can cause allergies, indeed. Typical symptoms are the same as common pollen allergy symptoms: runny nose, sneezing, and swelling.</p>
            </section>
            <section class="faq__accordion-item">
                <p class="faq__accordion-item-title">What payment options do you provide?</p>
                <p class="faq__accordion-item-description">We accept Visa and MasterCard cards issued by any American bank. You can also use PayPal.</p>
            </section>
            <section class="faq__accordion-item">
                <p class="faq__accordion-item-title">Why does the assortment change sometimes?</p>
                <p class="faq__accordion-item-description">We bottle honey 3-4 times per year, according to the harvest seasons. Our capabilities are limited to around 3000 jars a year. Therefore, depending on the season, there may be different honey in our assortment, and some products may be temporarily unavailable.</p>
            </section>
        </div>
    </div>
</div>