<div class="footer__main-wrapper">
    <div class="footer__logo">
        <img src="./img/logo-for-footer.svg">
    </div>
    <p class="footer__company">Honey Production Company</p>
    <div class="footer__menu">
        <ul>
            <li class="footer__menu-item">
                <a href="#">About Us</a>
                <a href="#">Types of Honey</a>
                <a href="#">Store</a>
                <a href="#">Testimonials</a>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="footer__social">
        <a href="#">f</a>
        <a href="#">Instagram</a>
        <a href="#">Youtube</a>
    </div>
    <div class="footer__copyright">
        <p>© Created by</p>
        <p>All rights Reserved</p>
    </div>
</div>