<div class="header__menu-wrapper">
    <div class="header__logo">
        <a href="#" title="Main"></a>
    </div>

    <nav class="header__menu">
        <a href="#" class="header__menu-item">About us</a>
        <a href="#" class="header__menu-item">Types of Honey</a>
        <a href="#" class="header__menu-item">Store</a>
        <a href="#" class="header__menu-item">Testimonials</a>
        <a href="#" class="header__menu-item">Contact Us</a>
        <a href="#" class="header__menu-button-buy-honey">Buy Honey</a>
    </nav>
</div>