<div class="header__main-wraper">
    <div class="header__logo">
        <a href="#" title="Main"></a>
    </div>

    <nav class="header__menu">
        <a href="#" class="header__menu-item">About us</a>
        <a href="#" class="header__menu-item">Types of Honey</a>
        <a href="#" class="header__menu-item">Store</a>
        <a href="#" class="header__menu-item">Testimonials</a>
        <a href="#" class="header__menu-item">Contact Us</a>
        <a href="#" class="header__menu-button-buy-honey">Buy Honey</a>
    </nav>
</div>
    <h1>100% ORGANIC HONEY</h1>
    <p class="header__store_name">HONEYBEE</p>
    <p class="header__main-offer">We offer a great assortment of pure raw honey from our swaths in California. Order honey from our honeycombs!</p>
    <a class="header__button-buy-now"></a>
