<div class="order__main-wrapper">
    <p class="order__title">HOW TO ORDER</p>
    <p class="order__heading">WANT TO ORDER HONEY?</p>
    <hr>
    <p class="order__description">We are a small family-owned swath chain in California and we produce a limited amount of honey every season. If you want to buy honey, the information below is for you:</p>
    <div class="order__steps">
        <div class="order__steps-item">
            <img src="./img/wait-a-bit.svg">
            <p class="order__steps-item-title">1. Wait a Bit</p>
            <p class="order__steps=item-description">We harvest honey approximately 4 times a year, excluding winter.</p>
        </div>
        <div class="order__steps-item">
            <img src="./img/choose-honey-type.svg">
            <p class="order__steps-item-title">2. Choose Honey Type</p>
            <p class="order__steps=item-description">Depending on the season, there may be different types of recently bottled honey on our site.</p>
        </div>
        <div class="order__steps-item">
            <img src="./img/order-enjoy.svg">
            <p class="order__steps-item-title">3. Order & Enjoy</p>
            <p class="order__steps=item-description">We are really quick at shipping, so you'll get your parcel in a couple of days.</p>
        </div>
    </div>
    <a class="order__special__request-button">Have a Special Request?</a>
</div>