<div class="services-wrapper">
    <p class="services_title">SERVICES</p>
    <p class="services__heading">WHAT WE DO</p>
    <hr>
    <p class="services__slogan">Our family-owned company is engaged with everything related to honey and its production. Learn more below about our services.</p>
    <div class="services">
        <div class="services__gallery">
            <div class="services__gallery-item">
                <img src="./img/honey_shop.svg">
                <p class="services__gallery-item-title">Honey Shop</p>
                <p class="services__gallery-item-desctiprion">We offer over 10 types of organic raw honey in our online store.</p>
                <a class="services__gallery-item-learn-more" href="#">Learn more</a>
            </div>
            <div class="services__gallery-item">
                <img src="./img/Supplements.svg">
                <p class="services__gallery-item-title">Supplements</p>
                <p class="services__gallery-item-desctiprion">You can buy bee pollen, propolis, and hive mixtures.</p>
                <a class="services__gallery-item-learn-more" href="#">Learn more</a>
            </div>
            <div class="services__gallery-item">
                <img src="./img/beekeeping_classes.svg">
                <p class="services__gallery-item-title">Beekeeping Classes</p>
                <p class="services__gallery-item-desctiprion">Feel free to book excursions and workshops at our swaths.</p>
                <a class="services__gallery-item-learn-more" href="#">Learn more</a>
            </div>
            <div class="services__gallery-item">
                <img src="./img/honey_production.svg">
                <p class="services__gallery-item-title">Honey Production</p>
                <p class="services__gallery-item-desctiprion">We produce, bottle, and sell honey harvested by our beekeepers.</p>
                <a class="services__gallery-item-learn-more" href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>