<div class="store__main-wrapper">
    <p class="store__title">STORE</p>
    <p class="store__heading">OUR HONEY</p>
    <hr>
    <p class="store__description">Shop our best honey bottled this season. We produce only natural, raw, and sweet honey without any impurities or additives. If you want to buy honey, hurry up!</p>
    <div class="store__gallery">
        <section class="store__gallery-item">
            <img src="./img/wildflower-honey.jfif">
            <p class="store__gallery-item-title">Wildflower Honey</p>
            <p class="store__gallery-item-price">$7,00 USD</p>
            <p class="store__gallery-item-button">Buy Now</p>
        </section>
        <section class="store__gallery-item">
            <img src="./img/blossom-honey.jfif">
            <p class="store__gallery-item-title">Blossom Honey</p>
            <p class="store__gallery-item-price">$20,00 USD</p>
            <p class="store__gallery-item-button">Buy Now</p>
        </section>
        <section class="store__gallery-item">
            <img src="./img/clover-honey.jfif">
            <p class="store__gallery-item-title">Clover Honey</p>
            <p class="store__gallery-item-price">$8,00 USD</p>
            <p class="store__gallery-item-button">Buy Now</p>
        </section>
        <section class="store__gallery-item">
            <img src="./img/buckwheat-honey.jfif">
            <p class="store__gallery-item-title">Buckwheat Honey</p>
            <p class="store__gallery-item-price">$10,00 USD</p>
            <p class="store__gallery-item-button">Buy Now</p>
        </section>
        <section class="store__gallery-item">
            <img src="./img/citrus-blossom-honey.jfif">
            <p class="store__gallery-item-title">Citrus Blossom Honey</p>
            <p class="store__gallery-item-price">$15,00 USD</p>
            <p class="store__gallery-item-button">Buy Now</p>
        </section>
    </div>
</div>