<div class="testimonials__main-wrapper">
    <p class="testimonials__title">TESTIMONIALS</p>
    <p class="testimonials__heading">WHAT OUR CLIENTS SAY</p>
    <hr>
    <p class="testimonials__description">We are glad that our honey is to our clients' liking. Your reviews and warm words of appreciation make us better!</p>
    <div class="testimonials__gallery">
        <section class="testimonials__gallery-item">
            <img src="./img/Jessica Peterson.webp">
            <p class="testimonials__gallery-name">Jessica Peterson</p>
            <p class="testimonials__gallery-quote">“This is great honey, 100% natural! It is not the first time I order honey from this company, and every time I know that I will get delicious, high-quality, not crystallized honey. I use honey as a topping for pancakes, various desserts, and marinades. It is delicious and my children also like this honey!"</p>
            <p class="testimonials__gallery-date">October 28, 2024</p>
        </section>
        <section class="testimonials__gallery-item">
            <img src="./img/Dean Nillstrom.webp">
            <p class="testimonials__gallery-name">Dean Nillstrom</p>
            <p class="testimonials__gallery-quote">“Nowadays it is not so easy to find really good, tasty, and natural honey. I first tried the HoneyBee honey several years ago, and since then I have been a regular customer of this producer. I know for sure that these guys work with feeling and sell real honey from their swaths. I am always happy with the product I receive."</p>
            <p class="testimonials__gallery-date">February 12, 2024</p>
        </section>
        <section class="testimonials__gallery-item">
            <img src="./img/Diana Fergusson.webp">
            <p class="testimonials__gallery-name">Diana Fergusson</p>
            <p class="testimonials__gallery-quote">“Having tasted this honey once, I no longer needed alternatives. This is the tastiest honey I've ever tried! I buy different types of honey, from clover to buckwheat. Each jar of honey is a real triumph of taste. This is real honey — thick, aromatic, dark, and moderately sweet. Exactly what I need!"</p>
            <p class="testimonials__gallery-date">April 18, 2024</p>
        </section>
    </div>
    <div class="testimonials__counters">
        <div class="testimonials__counters-item">
            <p class="testimonials__counters-item-number">2574</p>
            <p class="testimonials__counters-item-description">Honey jars produced in 2022</p>
        </div>
        <div class="testimonials__counters-item">
            <p class="testimonials__counters-item-number">130</p>
            <p class="testimonials__counters-item-description">Customers every month</p>
        </div>
        <div class="testimonials__counters-item">
            <p class="testimonials__counters-item-number">12</p>
            <p class="testimonials__counters-item-description">Swaths in California</p>
        </div>
        <div class="testimonials__counters-item">
            <p class="testimonials__counters-item-number">3946</p>
            <p class="testimonials__counters-item-description">Bees working for you</p>
        </div>
    </div>
</div>