<div class="types__main-wrapper">
    <div class="about_types"> 
        <p class="types_title">TYPES OF HONEY</p>
        <p class="types_heading">TOP HONEY FLAVORS FROM OUR SWATHS</p>
        <hr>
        <ul>
            <li class="list_title">Honey is a versatile source of vitamins and useful materials for your health:</li>
            <li class="types_list-item">
                <img src="./img/list_types_honey.svg">
                <p>It is good for your digestive system.</p>
            </li>
            <li class="types_list-item">
                <img src="./img/list_types_honey.svg">
                <p>Raw honey is rich in antioxidants.</p>
            </li>
            <li class="types_list-item">
                <img src="./img/list_types_honey.svg">
                <p>Honey has beneficial effects on heart health.</p>
            </li>
            <li class="types_list-item">
                <img src="./img/list_types_honey.svg">
                <p>It improves the cholesterol rate.</p>
            </li>
        </ul>
    </div>
    <div class="types_of_honey-gallery">

    </div>
</div>