* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.product-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-display__image {
  display: flex;
  background-image: url('images/workspace.webp');
  background-position: center;
  background-size: cover;
  width: 100%; 
  min-height: 350px; 
  height: auto;
  flex: 1 1 55%; 
}

.product-display__details {
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
  width: 100%;
  box-sizing: border-box;
  flex: 1 1 45%; 
}

.product-display__status {
  font-size: 14px;
  color: #f37021; 
  font-weight: bold;
}

.product-display__title {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.product-display__price {
  font-size: 28px;
  color: #f37021; 
  font-weight: bold;
  margin: 15px 0;
}

.product-display__description {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.product-display__specs-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-display__specs {
  list-style-type: none;
  padding-left: 0;
  font-size: 15px;
  color: #666;
}

.product-display__specs li {
  margin-bottom: 5px;
}

.product-display__order-btn {
  padding: 8px 20px;
  font-size: 12px;
  background-color: #f37021;
  color: #fff; /* Білий текст */
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  width: 30%;
}

.product-display__order-btn:hover {
  background-color: #211d1c; 
}

@media (min-width: 770px) {
  .product-display {
    flex-direction: row;
  }

  .product-display__image {
    flex: 1 1 55%; 
    background-position: center;
  }

  .product-display__details {
    padding: 90px 30px;
    flex: 1 1 45%; 
  }

  .product-display__title {
    font-size: 48px;
  }

  .product-display__price {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .product-display__details {
    padding: 110px 40px;
  }

  .product-display__title {
    font-size: 52px;
  }

  .product-display__price {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .product-display__details {
    margin: 0 15%;
  }
}
.slash {
  color: #0000FF; 
  font-weight: bold; 
}
.product-display__specs-title {
  color: #0000FF; 
}

