.new-products-promo {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.new-products-promo__text-content {
    display: flex;
    padding: 90px 30px;
    width: 100%;
    box-sizing: border-box;
    flex: 1 1 0;
}

.text-content__elements{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;
}

.new-products-promo__image {
    display: flex;
    background-image: url(../images/promotion-cards/new-product-keyboard.png);
    background-position: 0% 100%;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 192px;
    flex: 1 1 0;
}


.new-products-promo__title {
    font-size: 12px;
    color: var(--brand-color);
    font-weight: bold;
}

.new-products-promo__text-content h2 {
    font-family: var(--subtitle-font-family);
    font-size: 40px;
    font-weight: lighter;
}

.new-products-promo__slash{
    color: var(--primary-button-color);
}

.text-content__elements hr{
    border: none;
    border-top: 1.5px solid var(--decoration-line-color);
}

.new-products-promo__description {
    font-size: 17px;
    line-height: 1.5;
    color: var( --description-text-color);
}

.new-products-promo__price {
    font-size: 30px;
    color: var(--brand-color);
    font-weight: bold;
    margin: 5px 0;
}

.new-products-promo__specs-title{
    font-size: 22px;
    font-weight: bold;
    color: var(--secondary-background-color);
}

.key-specs {
    font-size: 14px;
    color: var( --description-text-color);
}

.key-specs__label{
    font-weight: bold;
}

.new-products-promo__button {
    text-align: left;
    margin-top: 15px;
}

.new-products-promo__button--primary {
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--brand-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.new-products-promo__button--primary:hover{
    background-color: var(--primary-background-color);
}

@media (min-width: 770px) {
    .new-products-promo{
        flex-direction: row;
        max-width: none;
    }

    .new-products-promo__text-content {
        padding: 105px 30px;
        flex: 1 1 50%;
    }
    .new-products-promo__text-content h2 {
        font-size: 52px;
    }

    .new-products-promo__price {
        font-size: 33px;
    }

    .new-products-promo__image{
        flex: 1 1 50%;
        background-position: 50% 0%;
    }
}

@media (min-width: 1000px){
    .new-products-promo__text-content {
        padding: 120px 30px;
    }

    .new-products-promo__text-content h2 {
        font-size: 64px;
    }

    .new-products-promo__price {
        font-size: 36px;
    }
}

@media (min-width: 1200px){
    .text-content__elements{
        margin: 0% 17%;
    }
}