<section class="catalog">
  <div class="catalog__header">
    <h2 class="catalog__title">\ catalogs \</h2>
    <p class="catalog__description">
      Shaping Light,<br> Shaping Spaces
    </p>
  </div>
  <p class="catalog__subtitle">Take a look at our selection of top picks you've been searching for. We've
      got everything for your lighting needs.</p>
  <a href="#" class="header__button">Our Store</a>
  <div class="catalog__item catalog__item--wooden-life">
    <h3 class="catalog__item-title">"Wooden Life" Catalog</h3>
    <p class="catalog__item-description">
      Explore our comprehensive catalog of lighting fixtures, featuring a wide
      range of styles and designs to illuminate every space beautifully.
    </p>
    <a href="#" class="catalog__item-download">download pdf</a>
  </div>
  <div class="catalog__item catalog__item--outdoor">
    <h3 class="catalog__item-title">Outdoor Lighting Catalog</h3>
    <p class="catalog__item-description">
      Explore our outdoor lighting catalog, showcasing durable and stylish
      fixtures designed to enhance your outdoor living areas with elegance.
    </p>
    <a href="#" class="catalog__item-download">download pdf</a>
  </div>
  <div class="carousel">
    <div class="carousel__item">
      <img src="./img/lite.png" alt="Aurora Lamp" class="carousel__image" />
      <h3 class="catalog__item-title">Aurora Lamp</h3>
      <p class="carousel__item-category">Classic Collection</p>
      <p class="carousel__item-year">2023</p>
    </div>
    <div class="carousel__item">
      <img
        src="./img/luminaire.png"
        alt="Luminous Haven"
        class="carousel__image"
      />
      <h3 class="catalog__item-title">Luminous Haven</h3>
      <p class="carousel__item-category">Wooden Life Collection</p>
      <p class="carousel__item-year">2024</p>
    </div>
    <div class="carousel__item">
      <img
        src="./img/nightlight.png"
        alt="Wooden Blocks"
        class="carousel__image"
      />
      <h3 class="catalog__item-title">Wooden Blocks</h3>
      <p class="carousel__item-category">Wooden Life Collection</p>
      <p class="carousel__item-year">2024</p>
    </div>
    <div class="carousel__item">
      <img
        src="./img/footlite.png"
        alt="Arretia Lamp"
        class="carousel__image"
      />
      <h3 class="catalog__item-title">Arretia Lamp</h3>
      <p class="carousel__item-category">Bedside Lamps</p>
      <p class="carousel__item-year">2022</p>
    </div>

    <div class="carousel__item">
      <img
        src="./img/lite2.png"
        alt="Cake in the Ocean"
        class="carousel__image"
      />
      <h3 class="catalog__item-title">Ceiling fixtures</h3>
      <p class="carousel__item-category">Bedside Lamps</p>
      <p class="carousel__item-year">2022</p>
    </div>
    <button class="carousel__button carousel__button--previous"></button>
    <button class="carousel__button carousel__button--next"></button>
  </div>
</section>
