<section class="collections">
    <div class="collections__lighting-solutions container">
        <div class="collections__content">
            <h2 class="collections__title">\ collections \</h2>
            <p class="collections__subtitle">Lighting Solutions</p>
            <p class="collections__description">Materials & processes we use to make our lighting collections.</p>
            <p class="collections__text">At Prizma Studio, we take pride in crafting our own lighting items using only the finest materials, ensuring both quality and aesthetics are never compromised. Our dedication to excellence is evident in the meticulous selection of materials, including:</p>
            
            <div class="materials">
                <div class="materials__item">
                    <img class="materials__image" src="./img/silk-printing.png" alt="Silk Printing">
                    <div class="materials__text-block">
                        <h3 class="materials__name">Silk Printing</h3>
                        <p class="materials__description">Harnessing the elegance and versatility of silk printing, we adorn our lighting fixtures with intricate patterns and designs that elevate their visual appeal.</p>
                    </div>
                </div>
                <div class="materials__item">
                    <img class="materials__image" src="./img/polymeric-material.png" alt="Polymeric Material">
                    <div class="materials__text-block">
                        <h3 class="materials__name">Polymeric Material</h3>
                        <p class="materials__description">With an eye for innovation, our designers utilize versatile polymeric materials to bring our lighting designs to life with modern flair and durability.</p>
                    </div>
                </div>
                <div class="materials__item">
                    <img class="materials__image" src="./img/forged-metal.png" alt="Forged Metal">
                    <div class="materials__text-block">
                        <h3 class="materials__name">Forged Metal</h3>
                        <p class="materials__description">For timeless elegance and enduring strength, we turn to forged metal in crafting our lighting masterpieces. Each piece is meticulously handcrafted by skilled artisans.</p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="collections__image">
            <img class="collections__room-image" src="./img/interior-room.png" alt="Luxurious Interior Room">
        </div>
    </div>
</section>
