<section class="features-gallery" id="design">
    <div class="features-gallery__container">
        <ul class="features-gallery__list">
            <li class="features-gallery__item">
                <img class="features-gallery__image" src="img/features-list-image-1.jpg" alt="features gallery image 1">
                <div class="features-gallery__content">
                    <h3 class="features-gallery__title">Commercial Projects</h3>
                    <p class="features-gallery__description">We excel in creating captivating lighting designs that enhance the ambiance and elevate the customer experience.</p>
                </div>
            </li>
            <li class="features-gallery__item">
                <img class="features-gallery__image" src="img/features-list-image-2.jpg" alt="features gallery image 2">
                <div class="features-gallery__content">
                    <h3 class="features-gallery__title">Healthcare Projects</h3>
                    <p class="features-gallery__description">We focus on providing soothing and functional lighting solutions to promote healing and well-being in hospitals.</p>
                </div>
            </li>
            <li class="features-gallery__item">
                <img class="features-gallery__image" src="img/features-list-image-3.jpg" alt="features gallery image 3">
                <div class="features-gallery__content">
                    <h3 class="features-gallery__title">Corporate Offices</h3>
                    <p class="features-gallery__description">Our designs strike the perfect balance between functionality and aesthetics to create inspiring workspaces.</p>
                </div>
            </li>
            <li class="features-gallery__item">
                <img class="features-gallery__image" src="img/features-list-image-4.jpg" alt="features gallery image 4">
                <div class="features-gallery__content">
                    <h3 class="features-gallery__title">Residential Spaces</h3>
                    <p class="features-gallery__description">We specialize in crafting personalized lighting schemes that reflect the lifestyle and preferences of homeowners.</p>
                </div>
            </li>
        </ul>
    </div>
</section>