<section class="features">
    <div class="features__container-image">
        <img class="features__image" src="img/features-image.jpg" alt="features image">
    </div>
    <div class="features__container">
        <div class="features__content">
            <p class="features__title">\ FEATURES \</p>
            <h2 class="features__description features__description--highlight">What Makes Our Offering Seamless</h2>
            <p class="features__description features__description--short">Looking for a lightning solution for your home
                or
                office?</p>
            <p class="features__description features__description--long">
                At Prizma Studio, we're dedicated to illuminating your spaces with creativity and precision. With
                our expertise in lightning design for residential and office environments, we're your top choice for
                bringing your vision to life with innovative and tailored solutions.
            </p>
        </div>
        <ul class="features__list">
            <li class="features__item">
                <img class="features__icon" src="./img/tick.png" alt="tick">
                <p class="features__description features__description--list">We listen to our clients;</p>
            </li>
            <li class="features__item">
                <img class="features__icon" src="./img/tick.png" alt="tick">
                <p class="features__description features__description--list">We factor in the architect's intent;
                </p>
            </li>
            <li class="features__item">
                <img class="features__icon" src="./img/tick.png" alt="tick">
                <p class="features__description features__description--list">We take your budget into account;</p>
            </li>
            <li class="features__item">
                <img class="features__icon" src="./img/tick.png" alt="tick">
                <p class="features__description features__description--list">We are attentive to details;</p>
            </li>
            <li class="features__item">
                <img class="features__icon" src="./img/tick.png" alt="tick">
                <p class="features__description features__description--list">We design lighting to be seen by
                    everyone.</p>
            </li>
        </ul>
        <p class="features__description features__description--final">Trust us to light up your world with brilliance.
        </p>
        <div class="features__button">
            <a class="btn" href="about-us.html">More About Us</a>
        </div>
    </div>
</section>