<header class="header">
    <div class="container header__container">
        <a href="/" class="logo">
            <img src="./img/logo.svg" alt="Prizma" height="32">
        </a>

        <nav class="menu">
            <a href="about-us.html" class="menu__item">About us</a>
            <a href="#design" class="menu__item">Design</a>
            <a href="projects.html" class="menu__item">Projects</a>
            <a href="#products" class="menu__item">Collections</a>
            <a href="contacts.html" class="menu__item">Contacts</a>
        </nav>

        <button class="menu__toggle">
            <svg class="icon" width="24" height="24">
                <use xlink:href="#menu"></use>
            </svg>
        </button>
    </div>

    <div class="drawer">
        <div class="drawer__header">
            <a href="/" class="logo">
                <img src="./img/logo.svg" alt="Prizma" height="32">
            </a>

            <button class="menu__toggle">
                <svg class="icon" width="24" height="24">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
        </div>
        <div class="drawer__body">
            <nav class="drawer__menu">
                <a href="/about-us" class="drawer__menu-item">About us</a>
                <a href="#design" class="drawer__menu-item">Design</a>
                <a href="/projects" class="drawer__menu-item">Projects</a>
                <a href="#products" class="drawer__menu-item">Collections</a>
                <a href="/contacts" class="drawer__menu-item">Contacts</a>
            </nav>
        </div>
    </div>
</header>

