<section class="subscribe-now">
  <div class="subscribe-now__content container">
      <div class="subscribe-now__text">
          <h3 class="subscribe-now__title">Subscribe Now!</h3>
          <p class="subscribe-now__description">Get our latest news, special offers, and design ideas.</p>
      </div>
      <form class="subscribe-now__form" action="#">
          <input class="subscribe-now__input" type="email" placeholder="E-mail" required/>
          <button class="subscribe-now__button" type="submit">
              Subscribe
          </button>
      </form>
  </div>
</section>