<section class="projects">
    <div class="projects__intro">
        <header class="projects__header">
            <h2 class="projects__title">
                \ projects \
            </h2>
            <p class="projects__subtitle">
                Where Brilliance Meets Design
            </p>
        </header>
        <div class="projects__description">
            <p class="projects__description-title">
                Shaping Light, Shaping Spaces
            </p>
            <p class="projects__description-text">
                We offer lighting solutions for residential, commercial, and other spaces. Explore some of our projects below.
            </p>
            <a class="projects__description-link" href="projects.html">More projects</a>
        </div>
    </div>
</section>