<section class="news-and-articles">
    <div class="news-and-articles__container-img">
       <img src="img/news-and-articles.jpg" alt="news&articles img">
    </div>
    <div class="news-and-articles__container">
        <h6 class="news-and-articles__title">\ NEWS & ARTICLES \</h6>
        <h1 class="news-and-articles__title">News & Articles</h1>
        <p>Read more about design and lightning techniques.</p>
        <p>12 April, 2024 | Technology</p>
        <h2 class="news-and-articles__title">Cutting-Edge LED Technology</h2>
        <p>
            Innovative advancements in LED technology are revolutionizing the lighting
            industry, offering unparalleled energy savings and longevity.
        </p>
        <p>12 May 2024 | Tips</p>
        <h2>Benefits of Natural Lighting in Workspaces</h2>
        <p>
            In this article, we delve into how harnessing the power of sunlight can
            enhance productivity, well-being, and overall satisfaction in the
            workplace.
        </p>
    </div>
</section>