<nav class="soc">
    <a href="#" class="soc__link" target="_blank">
        <svg class="icon" width="24" height="24">
            <use xlink:href="#ytb"></use>
        </svg>
    </a>
    <a href="#" class="soc__link" target="_blank">
        <svg class="icon" width="24" height="24">
            <use xlink:href="#fb"></use>
        </svg>
    </a>
    <a href="#" class="soc__link" target="_blank">
        <svg class="icon" width="24" height="24">
            <use xlink:href="#im"></use>
        </svg>
    </a>
    <a href="#" class="soc__link" target="_blank">
        <svg class="icon" width="24" height="24">
            <use xlink:href="#tw"></use>
        </svg>
    </a>
</nav>